<div class="col-sm-3">
<%#= link_to "テストレシピ new", new_menu_path if current_user %>    
  <div class="sidebar-module sidebar-module-inset">
    <%= link_to t('.new_recipe'), new_menu_path, class: "btn btn-large btn-success" %>
  </div>
</div>    
