<div class="container">
  <% if current_user %>
    <%= render 'top_login' %>
  <% else %>
    <div class="center jumbotron">
      <h1><%= t('.welcome_msg') %></h1>
      <%= link_to t('.sign_up_now'), signup_path, class: "btn btn-lg btn-primary" %>
    </div>
  <% end %>
</div>
